{#
# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0
#}
{{ loki_log_dir }}/{{ loki_log_file }} {
  compress
  delaycompress
  daily
  rotate 31
  create 0640 {{ loki_user }} {{ loki_group }}
  postrotate
    /bin/systemctl restart loki.service 2> /dev/null || true
  endscript
}
