{#
# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0
#}
{{ ansible_managed | comment }}
{%- if alertmanager_version is version_compare('0.13.0', '>=') %}
{%- set pre = '-' %}
{%- else %}
{%- set pre = '' %}
{%- endif %}
{%- if alertmanager_version is version_compare('0.15.0', '<') %}
{%- set cluster_flag = 'mesh' %}
{%- else %}
{%- set cluster_flag = 'cluster' %}
{%- endif %}

OPTIONS= \
{% for option, value in (alertmanager_cluster.items() | sort) %}
{%   if option == "peers" %}
{%     for peer in value %}
  {{ pre }}-{{ cluster_flag }}.peer={{ peer }} \
{%     endfor %}
{%   else %}
  {{ pre }}-{{ cluster_flag }}.{{ option }}={{ value }} \
{%   endif %}
{% endfor %}
  {{ pre }}-config.file={{ alertmanager_config_dir }}/alertmanager.yml \
  {{ pre }}-storage.path={{ alertmanager_db_dir }} \
  {{ pre }}-web.config.file={{ alertmanager_config_dir }}/web.yml \
  {{ pre }}-web.listen-address={{ alertmanager_web_listen_address }} \
  {{ pre }}-web.external-url={{ alertmanager_web_external_url }}{% for flag, flag_value in alertmanager_config_flags_extra.items() %} \
  {{ pre }}-{{ flag }}={{ flag_value }}{% endfor %}
