{#
# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0
#}
DATA_SOURCE_NAME="postgresql://{{ postgres_exporter_sql_user }}:{{ postgres_exporter_sql_password }}@{{ groups['postgresql'][0] | tosit.tdp.access_fqdn(hostvars) }}:{{ postgresql_server_port }}/?sslmode=disable"
