{#
# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0
#}
{{ ansible_managed | comment }}

OPTIONS= \
{{ node_exporter_web_listen_address }} \
{% for flag in node_exporter_flags %}
--{{ flag }} \
{% endfor %}
