{#
# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0
#}
[Unit]
Description=Prometheus Node Exporter
After=network-online.target
Wants=network-online.target

[Service]
UMask=0027
Type=simple
User={{ node_exporter_user }}
Group={{ node_exporter_group }}
PIDFile={{ node_exporter_pid_dir }}/node-exporter.pid
EnvironmentFile=-/etc/sysconfig/node-exporter
ExecStart=/bin/bash -c 'exec {{ node_exporter_install_dir }}/node_exporter $OPTIONS >>{{ node_exporter_log_dir }}/{{ node_exporter_log_file }} 2>&1'

[Install]
WantedBy=multi-user.target
