{#
# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0
#}
---
- targets:
{% for host in hosts %}
    - {{ host }}:{{ port }}
{% endfor %}
  labels:
{% for name, value in labels.items() %}
    {{ name }}: {{ value }}
{% endfor %}
