{#
# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0
#}
---
- targets:
{% for host_name in job.host_list %}
    - {{ host_name }}:{{ job.port_num }}
{% endfor %}
  labels:
{% for name in job.labels.keys() | sort() %}
    {{ name }}: {{ job.labels[name] }}
{% endfor %}
