# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
- name: Grafana Server Init
  hosts: grafana
  tasks:
    - tosit.tdp.resolve:
        node_name: grafana_server
    - import_role:
        name: alliage.tdp_monitoring.grafana.server
        tasks_from: init
    - meta: clear_facts
