# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
- name: Prometheus Server Config
  hosts: prometheus
  tasks:
    - tosit.tdp.resolve:
        node_name: prometheus_server
    - import_role:
        name: alliage.tdp_monitoring.prometheus.server
        tasks_from: config
    - meta: clear_facts
