{#
# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0
#}
{{ promtail_log_dir }}/{{ promtail_log_file }} {
  compress
  delaycompress
  daily
  rotate 31
  create 0640 {{ promtail_user }} {{ promtail_group }}
  postrotate
    /bin/systemctl restart promtail.service 2> /dev/null || true
  endscript
}
