{#
# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0
#}
[Unit]
Description=Promtail service
After=network.target

[Service]
UMask=0027
Type=simple
User={{ promtail_user }}
Group={{ promtail_group }}
ExecStart=/bin/bash -c 'exec {{ promtail_install_dir }}/promtail-linux-amd64 -config.file {{ promtail_conf_dir }}/config.yml >>{{ promtail_log_dir }}/{{ promtail_log_file }} 2>&1'
# Give a reasonable amount of time for promtail to start up/shut down
TimeoutSec = 60
Restart = on-failure
RestartSec = 2

[Install]
WantedBy=multi-user.target
