{#
# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0
#}
GRAFANA_USER={{ grafana_user }} 

GRAFANA_GROUP={{ grafana_group }}

GRAFANA_HOME={{ grafana_install_dir }}  

LOG_DIR={{ grafana_logs_dir }}

DATA_DIR={{ grafana_data_dir }}

MAX_OPEN_FILES=10000

CONF_DIR={{ grafana_config_dir }}

CONF_FILE="{{ grafana_config_dir }}/grafana.ini"

RESTART_ON_UPGRADE=true

PLUGINS_DIR="{{ grafana_data_dir }}/plugins"

PROVISIONING_CFG_DIR="{{ grafana_config_dir }}/provisioning"

# Only used on systemd systems
PID_FILE_DIR={{ grafana_pid_dir }}  
